soap/balanceservice.xml

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.apiservices.com/" 
    xmlns:tns="http://www.apiservices.com/" 
    name="UserServices">

<wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apiservices.com/">	
        <s:element name="UserBalanceRequest">
            <s:complexType><s:sequence>
                <s:element minOccurs="0" name="apiID" type="s:long" />
                <s:element minOccurs="0" name="apiKey" type="s:string" />
                <s:element minOccurs="0" name="apiHashKey" type="s:string" />				
                <s:element minOccurs="0" name="userID" type="s:long" />				
                <s:element minOccurs="0" name="userAction" type="s:long" />				
				<s:element minOccurs="0" name="timeStamp" type="s:string" />
            </s:sequence></s:complexType>
        </s:element>	
        <s:element name="UserBalanceResponse">
            <s:complexType><s:sequence>
                <s:element minOccurs="0" name="balance" type="s:string" />
            </s:sequence></s:complexType>
        </s:element>
    </s:schema>
</wsdl:types>

<wsdl:message name="UserBalanceRequest">
    <wsdl:part name="parameters" element="tns:UserBalanceRequest" />
</wsdl:message>

<wsdl:message name="UserBalanceResponse">
    <wsdl:part name="parameters" element="tns:UserBalanceResponse" />
</wsdl:message>

<wsdl:portType name="UserBalancePortType">
    <wsdl:operation name="UserBalanceRequest">
        <wsdl:input message="tns:UserBalanceRequest" />
        <wsdl:output message="tns:UserBalanceResponse" />
    </wsdl:operation>	
</wsdl:portType>

<wsdl:binding name="UserBalanceBinding" type="tns:UserBalancePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserBalanceRequest">
        <soap:operation soapAction="" />
        <wsdl:input><soap:body use="literal" /></wsdl:input>
        <wsdl:output><soap:body use="literal" /></wsdl:output>
    </wsdl:operation>	
</wsdl:binding>

<wsdl:service name="UserServicesAccessPoint">
    <wsdl:port name="UserBalancePort" binding="tns:UserBalanceBinding">
        <soap:address location="http://localhost/spotify_api/soap/balanceservice.php" />
    </wsdl:port>		
</wsdl:service>

</wsdl:definitions>